name: alphagenome_scz
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scipy
  - statsmodels
  - matplotlib
  - seaborn
  - tqdm
  - python-dotenv
  - requests
  - openpyxl
  - pip
  - pip:
    - alphagenome
